<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>
    <a href="{% url 'category_insert'%}">Category</a>
</li>
   <li>
    <a href="{% url 'add_district'%}">District</a>
   </li>
   <li>
    <a href="{% url 'branch_location_insert'%}">Branch Location</a>
   </li>
   <li>
    <a href="{% url 'machinery_insert'%}">Machinery</a>
   </li>
   <li>
    <a href="{% url 'maintenance_log_insert'%}">Maintenance Logs</a>
   </li>
   <li>
    <a href="{% url 'insure_policy_insert'%}">Insure Policy</a>
   </li>

</ul>
</body>
</html>
